In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
dataset = pd.read_csv('sport_data.csv')

In [17]:
dataset

    Age  Height     Sex       Sport
0    13       3    Male      Soccer
1    16       4    Male      Soccer
2    17       4    Male      Soccer
3    15       5    Male  Basketball
4    17       6    Male  Basketball
5    18       5    Male  Basketball
6    15       3    Male      Hockey
7    13       3    Male      Hockey
8    13       4    Male      Hockey
9    13       3  Female      Soccer
10   14       3  Female      Soccer
11   16       4  Female      Soccer
12   16       5  Female  Basketball
13   17       4  Female  Basketball
14   19       6  Female  Basketball
15   13       3  Female      Hockey
16   14       4  Female      Hockey
17   14       3  Female      Hockey

In [19]:
X = dataset.iloc[:, :3].values

In [20]:
y = dataset.iloc[:, -1].values

In [21]:
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer

le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [22]:
X

array([[13, 3, 1],
       [16, 4, 1],
       [17, 4, 1],
       [15, 5, 1],
       [17, 6, 1],
       [18, 5, 1],
       [15, 3, 1],
       [13, 3, 1],
       [13, 4, 1],
       [13, 3, 0],
       [14, 3, 0],
       [16, 4, 0],
       [16, 5, 0],
       [17, 4, 0],
       [19, 6, 0],
       [13, 3, 0],
       [14, 4, 0],
       [14, 3, 0]], dtype=object)

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
sc = StandardScaler()

In [25]:
sc.fit_transform(X)

array([[-1.16275535, -1.        ,  1.        ],
       [ 0.4472136 ,  0.        ,  1.        ],
       [ 0.98386991,  0.        ,  1.        ],
       [-0.08944272,  1.        ,  1.        ],
       [ 0.98386991,  2.        ,  1.        ],
       [ 1.52052622,  1.        ,  1.        ],
       [-0.08944272, -1.        ,  1.        ],
       [-1.16275535, -1.        ,  1.        ],
       [-1.16275535,  0.        ,  1.        ],
       [-1.16275535, -1.        , -1.        ],
       [-0.62609903, -1.        , -1.        ],
       [ 0.4472136 ,  0.        , -1.        ],
       [ 0.4472136 ,  1.        , -1.        ],
       [ 0.98386991,  0.        , -1.        ],
       [ 2.05718254,  2.        , -1.        ],
       [-1.16275535, -1.        , -1.        ],
       [-0.62609903,  0.        , -1.        ],
       [-0.62609903, -1.        , -1.        ]])

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)

In [28]:
from sklearn.neighbors import KNeighborsClassifier

In [29]:
model = KNeighborsClassifier(n_neighbors=3)

In [30]:
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [31]:
y_pred = model.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
acc = accuracy_score(y_pred, y_test) * 100

In [35]:
np.round(acc)

83.0

In [36]:
import joblib

In [37]:
joblib.dump(model, 'Sport_Pred_model')

['Sport_Pred_model']

In [38]:
joblib.load('Sport_Pred_model')

KNeighborsClassifier(n_neighbors=3)

In [39]:
model.predict([[13, 3, 1]])

array(['Soccer'], dtype=object)